---
title: Publications
description: Publications
permalink: /papers/
layout: default
active: papers
---


<div class="container-fluid">
	<h2>Publications</h2>
	
{% assign grouped = site.data.publications | group_by: "year" %}

{% for year in grouped %}

<div class="container">
  <div class="row">
    <div class="col-md-10">
	    	    
	<h2>{{year.name}}</h2>
	<ul>
	{% for publication in year.items %}
		<li>{% include pub.html %}</li>
	{% endfor %}
	</ul>
	</br>
	  
</div>

{% endfor %}
	
</div>


